Repository elixir-europe/plant-faidare: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Path conditions:
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/*_mapping.json, backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/settings.json, .gitlab-ci.yml
  deploy-to-beta: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-staging: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-int: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-prod-public: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-prod-private: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*

feat: add links to faidare search in germplasm card
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
  backend/src/main/resources/templates/germplasm.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: add error page
  backend/src/main/resources/templates/error.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: user inrae instead of inra in link URLs
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: remove demo code
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: use empty value for DUPLSITE in export of MCPD
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportService.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: export plant material in addition to mcpd
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepository.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryImpl.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportService.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportableField.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmMcpdExportCommand.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmMcpdExportService.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmMcpdExportableField.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: externalize the faidare search URL
  backend/src/main/java/fr/inra/urgi/faidare/config/FaidareProperties.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareDialect.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressionFactory.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: support passing the germplasm id as request parameter
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: display germplasm PUI in germplasm card
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmModel.java
  backend/src/main/resources/templates/germplasm.html
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: filter variables of study by language
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
  backend/src/test/java/fr/inra/urgi/faidare/web/study/StudyControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: support legacy path for germplasm card
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Clarify usage of docker image when script is on dedicated branch.
  README.md
Due: none

fix: xref index name
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: set up circleci
  .circleci/config.yml
Due: none

chore: upgrade spring boot and other dependencies, switch to springdoc
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/CallsController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/LocationController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/ObservationVariableController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/PhenotypeController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/ProgramController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/StudyController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/brapi/v1/TrialController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/faidare/v1/DataDiscoveryController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/faidare/v1/GnpISGermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/api/faidare/v1/XRefDocumentController.java
  backend/src/main/java/fr/inra/urgi/faidare/config/SwaggerConfig.java
  backend/src/main/java/fr/inra/urgi/faidare/elasticsearch/ESScrollIterator.java
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: upgrade gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore: upgrade web dependencies
  web/package.json
  web/yarn.lock
Due: none

chore: upgrade node and yarn versions
  web/build.gradle.kts
Due: none

fix: error in error template
  backend/src/main/resources/templates/error.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: change title of Swagger API and sort tags and endpoints alphabetically
  backend/src/main/java/fr/inra/urgi/faidare/config/SwaggerConfig.java
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: use node v16
  web/build.gradle.kts
Due: none

chore: enable renovate
  .github/renovate.json5
Due: none

fix: set dynamic mapping to false instead of strict + ignore xref counting
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/germplasmAttribute_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/germplasmPedigree_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/germplasmProgeny_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/germplasm_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/location_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/program_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/study_mapping.json
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/trial_mapping.json
  scripts/harvest.sh
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: remove useless script block
  backend/src/main/resources/templates/error.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Mitigate log4shell security flaw CVE-2021-44228, CVE-2021-45046, CVE-2021-45105. SYS-1129.
  backend/build.gradle.kts
  docker-compose.yml
Due: none

Fix Faidare app name for getting correct spring cloud configuration. GNP-6148.
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Replace institutionName by instituteName in contact study. GNP-5870.
  backend/src/main/java/fr/inra/urgi/faidare/domain/brapi/v1/data/BrapiContact.java
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/ContactVO.java
  backend/src/main/resources/templates/study.html
  backend/src/test/java/fr/inra/urgi/faidare/web/Fixtures.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: fix template error when germplasm collector is null
  backend/src/main/resources/templates/error/4xx.html
  backend/src/main/resources/templates/error/5xx.html
  backend/src/main/resources/templates/germplasm.html
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Changing species filed from string to list
  backend/src/main/java/fr/inra/urgi/faidare/domain/xref/XRefDocumentVO.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Change assets dir/path by resources. GNP-6148.
  backend/build.gradle.kts
  backend/src/main/resources/static/resources/images/favicon.ico
  backend/src/main/resources/static/resources/images/logo.png
  backend/src/main/resources/static/resources/images/marker-icon-blue.png
  backend/src/main/resources/static/resources/images/marker-icon-green.png
  backend/src/main/resources/static/resources/images/marker-icon-purple.png
  backend/src/main/resources/static/resources/images/marker-icon-red.png
  backend/src/main/resources/templates/fragments/map.html
  backend/src/main/resources/templates/layout/main.html
  web/src/map/map.ts
  web/webpack.config.js
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: correct site card url
  backend/src/main/java/fr/inra/urgi/faidare/utils/Sites.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Configure CI/CD for FAIDARE cards
  .gitlab-ci.yml
  ABOUT.md
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Fix Export germplasms for plant material format. MCPD export is working and will be enabled when data available.
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryImpl.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportService.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmMcpdExportService.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmMcpdExportableField.java
  backend/src/test/java/fr/inra/urgi/faidare/web/Fixtures.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
  data/test/json-bulk/IBET/contact-1.json.gz
  data/test/json-bulk/IBET/datadiscovery-1.json.gz
  data/test/json-bulk/IBET/germplasm-1.json.gz
  data/test/json-bulk/IBET/location-1.json.gz
  data/test/json-bulk/IBET/observationVariable-1.json.gz
  data/test/json-bulk/IBET/program-1.json.gz
  data/test/json-bulk/IBET/study-1.json.gz
  data/test/json-bulk/IBET/trial-1.json.gz
  data/test/json-bulk/NIB/datadiscovery-1.json.gz
  data/test/json-bulk/NIB/germplasm-1.json.gz
  data/test/json-bulk/NIB/location-1.json.gz
  data/test/json-bulk/NIB/program-1.json.gz
  data/test/json-bulk/NIB/study-1.json.gz
  data/test/json-bulk/NIB/trial-1.json.gz
  data/test/json-bulk/VIB/contact-1.json.gz
  data/test/json-bulk/VIB/datadiscovery-1.json.gz
  data/test/json-bulk/VIB/germplasm-1.json.gz
  data/test/json-bulk/VIB/location-1.json.gz
  data/test/json-bulk/VIB/observationVariable-1.json.gz
  data/test/json-bulk/VIB/study-1.json.gz
  data/test/json-bulk/VIB/trial-1.json.gz
  scripts/harvest.sh
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Set 1 replica for production indices. DBA-1198.
  docker-compose.yml
  scripts/harvest.sh
Due: build-loader-docker-image

Update mapping dynamic setting for observation unit. No check count on observationUnit, error likely due to nested documents
  backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/observationUnit_mapping.json
  scripts/harvest.sh
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Chore: repair GitLab CI. GNP-6342.
  .gitlab-ci.yml
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Should'nt compare counts on skipped data types
  scripts/harvest.sh
Due: build-loader-docker-image

Add creation of a log with last indexing informations. GNP-6338
  .gitlab-ci.yml
  ABOUT.md
  backend/src/main/resources/application.yml
  scripts/harvest.sh
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private
