Repository elixir-europe/plant-faidare: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Path conditions:
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/*_mapping.json, backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/settings.json, .gitlab-ci.yml
  deploy-to-beta: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-staging: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-int: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-prod-public: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-prod-private: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*

Plenty of dependencies upgrades, + changes and i18n of the navbar
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/faidare/config/I18nConfig.java
  backend/src/main/java/fr/inra/urgi/faidare/config/JSONConfig.java
  backend/src/main/java/fr/inra/urgi/faidare/config/SecurityConfig.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/NavbarEntry.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_en.properties
  backend/src/main/resources/messages_fr.properties
  backend/src/main/resources/templates/layout/main.html
  backend/src/test/java/fr/inra/urgi/faidare/domain/brapi/v1/BrapiMappingTest.java
  backend/src/test/java/fr/inra/urgi/faidare/domain/response/ApiResponseTest.java
  backend/src/test/java/fr/inra/urgi/faidare/elasticsearch/ESResponseParserTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/setup/ESSetUp.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  web/build.gradle.kts
  web/package.json
  web/src/style/_custom-bootstrap.scss
  web/src/style/style.scss
  web/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Updating Xref test data with the right field names
  data/test/json-bulk/URGI/xref-1.json.gz
Due: none

Use dedicated filed for germplasmPUI
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/germplasm/GermplasmVO.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Fix license which is not shown correctly in project's page.
  LICENSE
Due: none

Reactivate BraPI V1 ObservationVariable calls
  .gitlab-ci.yml
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v1/GermplasmV1Controller.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v1/ObservationVariableV1Controller.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v2/BrapiListResponse.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v2/GermplasmV2Controller.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v2/LocationV2Controller.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v2/StudyV2Controller.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v2/TrialV2Controller.java
  backend/src/test/java/fr/inrae/urgi/faidare/api/brapi/v1/ObservationVariableV1ControllerTest.java
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Correct pagination of observation variables. Fix GNP-6710.
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v1/ObservationVariableV1Controller.java
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v2/BrapiListResponse.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/file/CropOntologyRepository.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/file/CropOntologyRepositoryImpl.java
  backend/src/test/java/fr/inrae/urgi/faidare/api/brapi/v1/ObservationVariableV1ControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Fix/ontology pagination
  backend/src/main/java/fr/inrae/urgi/faidare/api/brapi/v1/ObservationVariableV1Controller.java
  backend/src/test/java/fr/inrae/urgi/faidare/api/brapi/v1/ObservationVariableV1ControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Prepare metadata files for SoftwareHeritage
  codemeta.json
Due: none

Change namespace from urgi-s to urgi/is
  .gitlab-ci.yml
  ABOUT.md
  CONTRIBUTING.md
  HOW-TO-LOAD-DATA.md
  build.gradle.kts
  codemeta.json
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Use the predefined CI variables for docker images namespace
  .gitlab-ci.yml
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Add missing dependancy spring-cloud-starter-config
  backend/build.gradle.kts
Due: none

added PHIS resource to application.yml and added a link to a valid PHIS logo
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Update file application.yml
  backend/src/main/resources/application.yml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Solve swagger ip port issue
  backend/src/main/java/fr/inrae/urgi/faidare/config/ForwardHeadersConfig.java
  backend/src/main/java/fr/inrae/urgi/faidare/config/SwaggerConfig.java
  backend/src/test/java/fr/inrae/urgi/faidare/config/SwaggerConfigTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Fix deployment environment
  .gitlab-ci.yml
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: group renovate updates
  .github/renovate.json5
Due: none

feat: implement MIAPPE export of germplasms
  backend/build.gradle.kts
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/GermplasmV2Dao.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/ExportFormat.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/GermplasmMiappeExportCommand.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/GermplasmMiappeExportService.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/GermplasmV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: formatting
  .editorconfig
  web/src/bootstrap/popovers.ts
  web/src/index.ts
  web/src/map/map.ts
  web/src/style/style.scss
  web/src/trial/trial-export.ts
Due: none

feat: export observation units
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationExportCriteria.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitExportCriteria.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoCustom.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoCustomImpl.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationV2DaoCustom.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationV2DaoCustomImpl.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ExportedObservationUnit.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportCommand.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportService.java
  backend/src/main/resources/fr/inrae/urgi/faidare/repository/es/setup/index/observation_mapping.json
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/ObservationV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: implement UI for exports
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialChoosableExportCriteria.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialModel.java
  backend/src/main/resources/templates/trial.html
  backend/src/test/java/fr/inrae/urgi/faidare/web/trial/TrialControllerTest.java
  web/src/index.ts
  web/src/style/_custom-bootstrap.scss
  web/src/style/style.scss
  web/src/trial/trial-export.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: implement repository methods to list selectable search criteria
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ChoosableObservationExportCriteria.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoCustom.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoCustomImpl.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationV2DaoCustom.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationV2DaoCustomImpl.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/ObservationV2DaoTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: make export asynchronous
  .gitignore
  backend/build.gradle.kts
  backend/exports/README.md
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/ExportFormat.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportConfig.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJob.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobDTO.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportProperties.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialExportModel.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/trial-export.html
  backend/src/main/resources/templates/trial.html
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitControllerTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobServiceTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/trial/TrialControllerTest.java
  exports/README.md
  web/src/index.ts
  web/src/style/_custom-bootstrap.scss
  web/src/trial-export/trial-export.ts
  web/src/trial/trial.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: format backend templates
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJob.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportProperties.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/error/4xx.html
  backend/src/main/resources/templates/error/5xx.html
  backend/src/main/resources/templates/fragments/institute.html
  backend/src/main/resources/templates/fragments/link.html
  backend/src/main/resources/templates/fragments/map.html
  backend/src/main/resources/templates/fragments/row.html
  backend/src/main/resources/templates/fragments/source.html
  backend/src/main/resources/templates/fragments/xrefs.html
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/layout/main.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
  backend/src/main/resources/templates/trial-export.html
  backend/src/main/resources/templates/trial.html
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitControllerTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/trial/TrialControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

test: add e2e tests
  .gitignore
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/trial-export.html
  web/build.gradle.kts
  web/e2e/README.md
  web/e2e/tests/trial.spec.ts
  web/package.json
  web/playwright.config.ts
  web/pnpm-lock.yaml
  web/tsconfig.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: fix bugs in DAO implementations of sitemap queries and add tests
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/GermplasmV2DaoCustomImpl.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/LocationV2DaoCustomImpl.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/StudyV2DaoCustomImpl.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/GermplasmV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/LocationV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/StudyV2DaoTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

refactor: rename observation unit export to observation export
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ExportedObservationUnit.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportCommand.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportConfig.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportDirectoryCleaner.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportJob.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportJobDTO.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportJobService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportProperties.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportConfig.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobDTO.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialController.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/trial/TrialExportModel.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/trial-export.html
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationControllerTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationExportDirectoryCleanerTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationExportJobServiceTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationUnitExportServiceTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/trial/TrialControllerTest.java
  web/src/trial-export/trial-export.ts
  web/src/trial/trial.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: export observations as JSON
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/ExportFormat.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportJobService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/ObservationExportService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/json/JsonObservationExport.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observation/json/JsonObservationVariable.java
  backend/src/main/resources/templates/trial.html
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationExportJobServiceTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationExportServiceTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observation/ObservationUnitExportServiceTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: create rows from exported observation units correctly
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitExportCriteria.java
  backend/src/main/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoCustomImpl.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobService.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportService.java
  backend/src/main/resources/templates/trial-export.html
  backend/src/test/java/fr/inrae/urgi/faidare/dao/v2/ObservationUnitV2DaoTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportJobServiceTest.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportServiceTest.java
  web/e2e/tests/trial.spec.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: split searches with large set of IDs in batches
  backend/src/main/java/fr/inrae/urgi/faidare/web/germplasm/GermplasmController.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: delete leftover export files at startup
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportDirectoryCleaner.java
  backend/src/main/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportProperties.java
  backend/src/test/java/fr/inrae/urgi/faidare/web/observationunit/ObservationUnitExportDirectoryCleanerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

CI: run the check task and not the test task
  .gitlab-ci.yml
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

build: add dependency for latest browsers
  web/package.json
  web/pnpm-lock.yaml
Due: none

ci: adapt code to make it work on glitlab CI
  web/package.json
Due: none

ci: use image with browsers dependencies to avoid installing them at each build
  .gitlab-ci.yml
  web/package.json
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Add pnpm store directory to fix pnpm permission denied
  .gitlab-ci.yml
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private
