Repository elixir-europe/plant-faidare: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

build-loader-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - docker build -t registry.forgemia.inra.fr/urgi-is/docker-rare/faidare-loader:${IMAGE_TAG} .
  ...

deploy-to-beta:
  retry: 2
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  - ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_IP} 'echo "Successfully connected on $(hostname)"'
  - scp ./backend/build/libs/${APP_NAME}.jar ${SERVER_USER}@${SERVER_IP}:/tmp/${APP_NAME}-${ENV}.jar
  ...

deploy-to-staging:
  retry: 2
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  - ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_IP} 'echo "Successfully connected on $(hostname)"'
  - scp ./backend/build/libs/${APP_NAME}.jar ${SERVER_USER}@${SERVER_IP}:/tmp/${APP_NAME}-${ENV}.jar
  ...

deploy-to-int:
  retry: 2
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  - ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_IP} 'echo "Successfully connected on $(hostname)"'
  - scp ./backend/build/libs/${APP_NAME}.jar ${SERVER_USER}@${SERVER_IP}:/tmp/${APP_NAME}-${ENV}.jar
  ...

deploy-to-prod-public:
  retry: 2
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  - ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_IP} 'echo "Successfully connected on $(hostname)"'
  - scp ./backend/build/libs/${APP_NAME}.jar ${SERVER_USER}@${SERVER_IP}:/tmp/${APP_NAME}-${ENV}.jar
  ...

deploy-to-prod-private:
  retry: 2
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  - ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_IP} 'echo "Successfully connected on $(hostname)"'
  - scp ./backend/build/libs/${APP_NAME}.jar ${SERVER_USER}@${SERVER_IP}:/tmp/${APP_NAME}-${ENV}.jar
  ...

fix: Fix the display of the donors and the site ids problem.
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/germplasm/DonorVO.java
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/germplasm/Site.java
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/germplasm/SiteVO.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: Hide the mcpd until the webservice is ready.
  frontend/src/app/germplasm-result-page/germplasm-result-page.component.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Remove misplaced blanks
  frontend/src/app/site-card/site-card.component.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: Add all mcpd fields for the export.
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/germplasm/CollectingInfoVO.java
  backend/src/main/java/fr/inra/urgi/faidare/service/es/GermplasmServiceImpl.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Bump sonarqube analysis performances. GNP-6077.
  .gitlab-ci.yml
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Fix deployment variable and jobs.
  .secrets.baseline
Due: none

Change cache policy.
  .secrets.baseline
Due: none

Fix ES version
  .secrets.baseline
Due: none

Configure docker MTU
  .secrets.baseline
Due: none

feat: setup thymeleaf
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/faidare/filter/AngularRouteFilter.java
  backend/src/main/java/fr/inra/urgi/faidare/web/HomeController.java
  backend/src/main/resources/static/assets/images/favicon.ico
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/layout/main.html
  settings.gradle.kts
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: remove ide files and simplify gitignore
  .gitignore
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/src/main/main.iml
  backend/src/test/test.iml
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

ci: adapt the ci config now that frontend is gone
  .gitlab-ci.yml
  backend/src/test/java/fr/inra/urgi/faidare/filter/AngularRouteFilterTest.java
Due: build-loader-docker-image, deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: start working on site card
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteModel.java
  backend/src/main/resources/static/assets/style.css
  backend/src/main/resources/templates/fragments/row.html
  backend/src/main/resources/templates/layout/main.html
  backend/src/main/resources/templates/site.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: fix tests in site card
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteModel.java
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/site.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: add xrefs and latitude/longitude to site card
  backend/src/main/java/fr/inra/urgi/faidare/domain/xref/XRefDocumentSearchCriteria.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteModel.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/Coordinates.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/CoordinatesDialect.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/CoordinatesExpressionFactory.java
  backend/src/main/resources/templates/fragments/xrefs.html
  backend/src/main/resources/templates/site.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: typo
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteModel.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: germplasm card
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmModel.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareDialect.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressionFactory.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
  backend/src/main/resources/static/assets/style.css
  backend/src/main/resources/templates/fragments/institute.html
  backend/src/main/resources/templates/fragments/link.html
  backend/src/main/resources/templates/fragments/row.html
  backend/src/main/resources/templates/fragments/source.html
  backend/src/main/resources/templates/fragments/xrefs.html
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/layout/main.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: study card
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyModel.java
  backend/src/main/resources/templates/study.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: typos and missing alt attribute
  backend/src/main/resources/templates/fragments/institute.html
  backend/src/main/resources/templates/germplasm.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: maps
  backend/src/main/java/fr/inra/urgi/faidare/utils/Sites.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmModel.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/MapLocation.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteModel.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyModel.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
  backend/src/main/resources/static/assets/images/marker-icon-blue.png
  backend/src/main/resources/static/assets/images/marker-icon-green.png
  backend/src/main/resources/static/assets/images/marker-icon-purple.png
  backend/src/main/resources/static/assets/images/marker-icon-red.png
  backend/src/main/resources/static/assets/script.js
  backend/src/main/resources/static/assets/style.css
  backend/src/main/resources/templates/fragments/map.html
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/layout/main.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: add TODOs
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: move css and js to web project built with webpack
  .gitignore
  backend/build.gradle.kts
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/assets/script.js
  backend/src/main/resources/static/assets/style.css
  backend/src/main/resources/templates/layout/main.html
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
  web/build.gradle.kts
  web/package.json
  web/src/bootstrap/popovers.ts
  web/src/index.ts
  web/src/map/map.ts
  web/src/style/_custom-bootstrap.scss
  web/src/style/style.scss
  web/tsconfig.json
  web/webpack.common.js
  web/webpack.dev.js
  web/webpack.prod.js
  web/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: implement styling
  backend/src/main/resources/static/assets/images/logo.png
  backend/src/main/resources/templates/fragments/institute.html
  backend/src/main/resources/templates/fragments/map.html
  backend/src/main/resources/templates/fragments/row.html
  backend/src/main/resources/templates/fragments/source.html
  backend/src/main/resources/templates/fragments/xrefs.html
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/layout/main.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
  web/src/style/style.scss
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: use es2015 instead of es6
  web/tsconfig.json
Due: none

chore: bump versions in web
  web/package.json
  web/yarn.lock
Due: none

refactor: simplify webpack build and optimize css
  web/build.gradle.kts
  web/package.json
  web/webpack.config.js
  web/webpack.dev.js
  web/webpack.prod.js
  web/yarn.lock
Due: none

build: add postcss
  web/package.json
  web/webpack.config.js
  web/yarn.lock
Due: none

chore: format with prettier
  web/package.json
  web/src/bootstrap/popovers.ts
  web/src/index.ts
  web/src/map/map.ts
  web/src/style/style.scss
  web/yarn.lock
Due: none

chore: format backend templates with prettier
  backend/src/main/resources/templates/fragments/institute.html
  backend/src/main/resources/templates/fragments/link.html
  backend/src/main/resources/templates/fragments/map.html
  backend/src/main/resources/templates/fragments/row.html
  backend/src/main/resources/templates/fragments/source.html
  backend/src/main/resources/templates/fragments/xrefs.html
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/layout/main.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
  web/package.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: bump gradle-git-properties
  backend/build.gradle.kts
Due: none

docs: update readme
  README.md
Due: none

feat: implement sitemaps
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/LocationSitemapVO.java
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/germplasm/GermplasmSitemapVO.java
  backend/src/main/java/fr/inra/urgi/faidare/domain/data/study/StudySitemapVO.java
  backend/src/main/java/fr/inra/urgi/faidare/elasticsearch/ESScrollIterator.java
  backend/src/main/java/fr/inra/urgi/faidare/elasticsearch/document/DocumentAnnotationUtil.java
  backend/src/main/java/fr/inra/urgi/faidare/elasticsearch/document/DocumentMetadata.java
  backend/src/main/java/fr/inra/urgi/faidare/elasticsearch/document/annotation/Document.java
  backend/src/main/java/fr/inra/urgi/faidare/elasticsearch/repository/impl/ESGenericFindRepository.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepository.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryImpl.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/LocationRepository.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/LocationRepositoryImpl.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/StudyRepository.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/StudyRepositoryImpl.java
  backend/src/main/java/fr/inra/urgi/faidare/utils/Sitemaps.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/sitemap/SitemapIndexController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/inra/urgi/faidare/elasticsearch/document/DocumentAnnotationUtilTest.java
  backend/src/test/java/fr/inra/urgi/faidare/elasticsearch/document/fixture/ComplexDocument.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/LocationRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/StudyRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/site/SiteControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/sitemap/SitemapIndexControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/study/StudyControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: home template
  backend/src/main/resources/templates/index.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

chore: upgrade to Spring Boot 2.5.4
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/faidare/config/ElasticSearchConfig.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/bootstrap.yml
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/BrapiExceptionHandlerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/CallsControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/GermplasmControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/LocationControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/ObservationVariableControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/ProgramControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/brapi/v1/StudyControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/api/faidare/v1/GnpISGermplasmControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/elasticsearch/ESResponseParserTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/DataDiscoveryRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/GermplasmAttributeRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/LocationRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/ObservationUnitRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/ProgramRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/StudyRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/TrialRepositoryTest.java
  backend/src/test/java/fr/inra/urgi/faidare/service/es/GermplasmServiceTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/site/SiteControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/study/StudyControllerTest.java
  backend/src/test/resources/test.properties
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

test: add tests for controllers
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
  backend/src/main/resources/templates/germplasm.html
  backend/src/main/resources/templates/site.html
  backend/src/main/resources/templates/study.html
  backend/src/test/java/fr/inra/urgi/faidare/web/Fixtures.java
  backend/src/test/java/fr/inra/urgi/faidare/web/HtmlContentResultMatchers.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/site/SiteControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/study/StudyControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: implement export of germplasms
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepository.java
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryImpl.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportCommand.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportService.java
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmExportableField.java
  backend/src/test/java/fr/inra/urgi/faidare/web/Fixtures.java
  backend/src/test/java/fr/inra/urgi/faidare/web/germplasm/GermplasmControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

refactor: use multiple sitemaps for sites too
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/sitemap/SitemapIndexController.java
  backend/src/test/java/fr/inra/urgi/faidare/web/site/SiteControllerTest.java
  backend/src/test/java/fr/inra/urgi/faidare/web/sitemap/SitemapIndexControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

fix: fix query and add missing test
  backend/src/main/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryImpl.java
  backend/src/test/java/fr/inra/urgi/faidare/repository/es/GermplasmRepositoryTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: start removing some demo code
  backend/src/main/java/fr/inra/urgi/faidare/web/germplasm/GermplasmController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/site/SiteController.java
  backend/src/main/java/fr/inra/urgi/faidare/web/study/StudyController.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

feat: add entries to the navbar
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/FaidareExpressions.java
  backend/src/main/java/fr/inra/urgi/faidare/web/thymeleaf/NavbarEntry.java
  backend/src/main/resources/templates/layout/main.html
  web/package.json
  web/src/bootstrap/popovers.ts
  web/src/index.ts
  web/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-int, deploy-to-prod-public, deploy-to-prod-private

Path conditions:
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/*_mapping.json, backend/src/test/resources/fr/inra/urgi/faidare/repository/es/setup/index/settings.json, .gitlab-ci.yml
  deploy-to-beta: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-staging: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-int: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-prod-public: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
  deploy-to-prod-private: any of: .gitlab-ci.yml, backend/src/**/*, frontend/**/*
